@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.reply{
    background: var(--login_form_color);
    width: 70%;
    margin-bottom: 14px;
    height: 15vh;
    padding: 5px;
    color:var(--secondary_color);
    
}
.replyTop{
    height: 30%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    color:var(--font-color);
    
}
.replyTop img{
  height: 100%;
    width: 17%;
    border-radius: 50%;
    margin-right: 14px;
    color:var(--secondary_color);
}
.moment{
    margin-left: 23px;
    font-weight: 400;
    font-family: emoji;
    color: var(--secondary_color);
  }
.three_dots{
    cursor: pointer;
    position: relative;
    /* right: 0px; */
    top: 29px;
}
  .updel{
    position: absolute;
      right: 46px;
  }
  .update,.delete{
    background: var(--font-color);
    color:var(--primary_color);
      padding: 2px;
      font-family: system-ui;
      font-size: 89%;
      width: 103px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      border: 2px solid var(--login_form_color);
      cursor:pointer;
      border-radius: 18px;
  }
  .update:hover,.delete:hover{
    opacity: 0.8;
  }
.replyCenter{
    height: 50%;
    width: 100%;
    resize: none;
    background: var(--login_form_color);
    border: 0;
    outline: none;
    color:var(--secondary_color)
}
.replyButtom{
    display:flex;
    height:20%;
    /* width:25%; */
    color:var(--font-color);
}
.like,.dislike{
    cursor: pointer;
    /* width: 19%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}
.like svg,.dislike  svg{
  margin-right: 6px;
}