.write {
    padding-top: 50px;
    background: #191818;
  }
  
  .writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .writeForm {
    position: relative;
  }
  
  .writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
  }
  
  .writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .writeInput {
    font-size: 18px;
    background: #1d1d1c;
    height: 52px;
    width: 75% !important;
    color:white;
  }
  .writeInput::first-letter,.writeText::first-letter{
    text-transform: capitalize;
  }
  .writeInput::placeholder {
    color: rgb(196, 146, 146);
    font-weight: 400;
  }
  
  .writeInput:focus {
    outline-style: none;
  }
  
  .writeText {
    /* text-transform: capitalize; */
    color: white;
    height: 83vh;
    /* height: 100vh; */
    font-family: inherit;
    font-size: 20px;
    background: #3e3a3a;
    border: none;
    padding: 20px;
    width: 70vw;
}

  .writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  