@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background: black;
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
}
.part{
    display: flex;
    height: 100%;
    width: 100%;
}
.clippath{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #0e0e0e;
    clip-path: polygon(0 0, 29% 0, 100% 100%, 68% 100%);
}
.first{
    z-index: 1;
    line-height: 4vw;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    padding: 60px;
    /* text-transform: uppercase; */
    /* font-family: 'Asap', sans-serif;; */
}

.first p:nth-child(1){
   
    font-size: 4vw;
    font-family: 'JetBrains Mono', monospace;
}
.first p:nth-child(2){
    /* font-size: 7vw; */
    /* font-weight: bold; */
    font-size: 23px;
    line-height: 27px;
    font-family: 'Archivo', sans-serif;
    /* animation: change_color 2s infinite ; */
    
} 
.signin_signup{
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.signup,.signin{
    color: #07f9dd;
    border: 2px solid;
    width: 18%;
    height: 46px;
    font-size: 18px;
    margin-right: 22px;
    margin-left: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 28px;
    outline: none;
    transition: all 1s ease-in-out;
}
.signup:hover,.signin:hover{
    background: #07f9dd;
    color: black;
    
}
/* @keyframes change_color {
    0%{
        color: #65BCED;
    }
    25%{
        color: #3893C7;
    }
    50%{
        color: #4E819D;
    }
    75%{
        color: #7AB9DC;
    }
    100%{
        color: #65BCED;

    }
} */
/* .first p:nth-child(3){
    width: 100%;
    font-size: 1.5vw;
    text-align: right;
} */
.second{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    height: 80%;
    width: 100%;
}
.post{
    height: 100px;
    background: #434040;
    padding: 8px;
    margin-bottom: 14px;
    overflow: hidden;
}
.searchbox{
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}
.searchbox input{
    width: 50%;
    margin-right: 14px;
    border-radius: 15px;
    background: #6f6565;
    outline: none;
    border: none;
    color: white;
    padding: 6px;
}
.searchbox svg{
    height: 31px;
    width: 30px;
    fill: white;
    cursor: pointer;
}
.searchbox input::placeholder{
    color:orange;
}
.username{
    height: 24%;
    color: lightblue;
}
.title{
    color: rgb(41, 202, 9);
    font-weight: bold;
    font-size: 18px;

}
.upper{
    display: flex;
    justify-content: space-between;
}
.description{
    height: 60%;
    color: white;
}
.allPosts{
    background: #000000;
    height:100%;
    width:100%;
    padding:18px;
}
.allPosts p{
    color: white;
}