@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.individualCom {
  /* height: 19vh; */
  background: var(--login_form_color);
  margin-top: 14px;
  padding: 14px;
  color: var(--secondary-color);
}
.commentHeaderInd {
  height: 30%;
  color: var(--font-color);
  font-family: "Indie Flower", cursive;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.commentHeaderInd img{
  height: 100%;
    width: 40px;
    border-radius: 50%;
    margin-right: 14px;
    color:var(--secondary_color);
}
.moment{
  margin-left: 23px;
  font-weight: 400;
  font-family: emoji;
  color:var(--secondary_color);
}
.three_dots{
  cursor: pointer;
  position: absolute;
    right: 29px;
}
.updel{
  position: absolute;
    right: 46px;
}
.update,.delete{
  background: var(--font-color);
  color:var(--primary_color);
    padding: 2px;
    font-family: system-ui;
    font-size: 89%;
    width: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: 2px solid var(--login_form_color);
    cursor:pointer;
    border-radius: 18px;
}
.update:hover,.delete:hover{
  opacity: 0.8;
}
.commentBody {
  width: 100%;
  /* resize: none; */
  outline: none;
  border: 0;
  height: 50%;
  background: var(--login_form_color);
  color: var(--secondary_color);
}
.commentFooter {
  display: flex;
  height: 20%;
  /* width: 25%; */
  color:var(--font-color);
  font-size: 18px;
  align-items: center;
}
.like,
.dislike,
.replyIcon {
  cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.like,.dislike{
  width: 81px;
}
.like svg,.dislike svg,.replyIcon{
  margin-right: 5px;
}