.logout{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--linear_gradient_color);
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary_color);
}