.replies{
    height:100%;
    padding:14px;
    background: var(--primary_color);
    display: flex;
    flex-direction: column;
    align-items: end;
}
.writeReply{
   
    background: var(--login_form_color);
    width: 70%;
    margin-bottom: 14px;
    /* height:8vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.replyArea{
    background: var(--login_form_color);
    /* resize:none; */
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    padding: 5px;
    color: var(--secondary_color);
    width:95%
}
.writeReply svg{
    width: 5%;
    height:50%;
    color:var(--font-color);
    cursor: pointer;
}