@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  background: var(--linear_gradient_color);
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.part {
  display: flex;
  height: 100%;
  width: 100%;
}
.clippath {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #731818;
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}
.clippath2 {
  position: absolute;
  height: 100%;
  width: 50%;
  background: lightblue;
  clip-path: polygon(88% 79%, 100% 61%, 100% 100%, 70% 100%);
}
.first {
  z-index: 1;
  line-height: 4vw;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  padding: 60px;
}
.first p:nth-child(1) {
  font-size: 4vw;
  font-family: "JetBrains Mono", monospace;
  color: var(--font-color);
}
.first p:nth-child(2) {
  font-size: 23px;
  line-height: 2;
  font-family: "Archivo", sans-serif;
}
.signin_signup {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.signup,
.signin,
.get_started {
  color: var(--font-color);
  border: 2px solid;
  width: 100%;
  height: 46px;
  font-size: 18px;
  margin-right: 22px;
  margin-left: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 28px;
  outline: none;
  transition: all 1s ease-in-out;
}
.signup:hover,
.signin:hover,
.get_started:hover {
  background: var(--font-color);
  color: var(--primary_color);
}

.second {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first svg,.second svg {
  height: 80%;
  width: 100%;
}
.lefthand {
  animation: rotateleft 2s infinite;
}
@keyframes rotateleft {
  0% {
    transform: rotate(-0.5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0.5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}
.righthand {
  animation: rotateright 2s infinite;
}
@keyframes rotateright {
  0% {
    transform: rotate(-0.2deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0.2deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-0.2deg);
  }
}

.post {
  height: 100px;
  background: var(--login_form_color);
  padding: 8px;
  margin-bottom: 14px;
  overflow: hidden;
}
.read_me {
  background: var(--font-color) !important;
  color: var(--primary_color) !important;
  font-weight: bold !important;
}
.read_me:hover {
  opacity: 0.9;
}
.searchbox {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  height: 34px;
}
.searchbox input {
  width: 90%;
  margin-right: 14px;
  border-radius: 15px;
  background: var(--login_form_color);
  outline: none;
  border: none;
  color: var(--secondary_color);
  padding: 6px;
  height: 34px;
}
.searchbox svg {
  height: 31px;
  width: 30px;
  fill: var(--secondary_color);
  cursor: pointer;
}
.searchbox input::placeholder {
  color: var(--secondary_color);
}
.username {
  height: 24%;
  color: var(--font-color);
  font-weight: bold;
}
.title {
  color: rgb(255, 51, 0);
  font-weight: bold;
  font-size: 18px;
}
.upper {
  display: flex;
  justify-content: space-between;
}
.description {
  height: 60%;
  color: var(--secondary_color);
}
.down_arrow {
  display: flex;
  justify-content: center;
  background: var(--primary_color);
}
.down_arrow svg {
  color: var(--font-color);
  width: 54px;
  height: 54px;
  animation: translatepos 2s ease-in-out infinite;
}
@keyframes translatepos {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, 10px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.allPosts {
  background: var(--primary_color);
  height: 100vh;
  width: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogger {
  width: 50%;
}
.allPosts p {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.outer_cover {
  width: 50%;
  background: #292626;
  padding: 14px;
  height: 509px;
  border-radius: 14px;
}
.inner_ {
  height: 421px;
  overflow: auto;
  scroll-behavior: auto;

  overflow-x: hidden;
}
.inner_cover {
  min-height: 421px;
  background: var(--primary_color);
  padding: 14px;
}
.tags {
  width: 102px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--font-color);
  color: var(--primary_color);
  font-weight: bold;
  border-radius: 14px;
  cursor: pointer;
}
.tags:hover {
  opacity: 0.9;
}
.tags svg {
  margin-left: 7px;
  fill: var(--primary_color);
}
@media only screen and (max-width: 1160px) {
  .container {
    height: 100%;
  }
  .blogger {
    display: none;
  }
  .part {
    flex-direction: column-reverse;
  }
  .first,
  .second {
    width: 100%;
  }
  .signin_signup {
    flex-direction: column;
  }
  .signin,
  .signup {
    width: 80%;
    margin: 14px;
  }
  .outer_cover {
    width: 100%;
  }
  .second {
    display: none;
  }
  .first p:nth-child(1) {
    font-size: 26px;
  }
  .first p:nth-child(2) {
    font-size: 17px;
  }
}
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton_text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.allTags {
  position: relative;
  
  width: 100;
  background: var(--login_form_color);
  margin-bottom: 14px;
  transition: all 1s ease-in-out;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  animation: slideTags 2s 1;
  /* height: 100%; */
  height:136px;
}
@keyframes slideTags {
  0%{
    height:0px;
  }
  100%{
    height:136px;
  }
}

.tag {
  /* min-width: 59px; */
  height: 31px;
  background: var(--font-color);
  padding: 5px;
  text-align: center;
  margin: 7px;
  border-radius: 7px;
  cursor: pointer;
  
  color: var(--primary_color);
  font-weight: bold;
}
.tag:hover {
  opacity: 0.8;
}
.activeTags {
  display: flex;
}
.tagActive {
  padding: 5px;
  background: var(--login_form_color);
  color: var(--secondary_color);
  text-align: center;
  margin: 14px;
  font-weight: bold;
  border-radius: 11px;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
}
.tagActive span {
  height: 24px;
  width: 16px;
  margin-left: 12px;
  cursor: pointer;
  color: var(--font-color);
}
.shady{
  height: 36px;
    position: relative;
    top: -36px;
    
    background: linear-gradient(0deg, var(--primary_color), transparent);
}