@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
.container{
    height: 90vh;
    background: var(--login_form_color);
    padding:18px;
}
.first_inner_container{
    display: flex;
    color: var(--secondary_color);
    justify-content: space-between;
}
.first_inner_container label{
    color:var(--label-color);
    margin-right: 14px;
}
.first_inner_container p{
    color: var(--inner-container);
}
.second_inner_container{
    display: flex;
    justify-content: space-between;
}
.second_inner_container label{
    color: orange;
    font-size: 3vh;
    margin-right: 14px;
}
.second_inner_container p{
    color: var(--second-inner);
    font-family: 'Arvo', serif;
    font-size: 48px;
    font-weight: normal;
}
.title,.edit_update{
    display: flex;
}
.third_inner_container{
    height: 45vh;
    background: transparent;
    border: 2px solid transparent;
    color: var(--secondary_color);
    padding: 14px;
    width: 100%;
    font-size: 20px;
    /* text-transform: capitalize; */
}
.third_inner_container::first-letter{
    text-transform:capitalize;
}
.edit_update a svg{
    height: 50px;
    fill: #76b8ef;
    margin-right: 14px;
    cursor: pointer;
}
.delete svg path{
    /* height: 29px; */
    fill: #de5050;
    
 
    cursor: pointer;
}
.edit_update a svg:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 750px) {
    .first_inner_container{
        flex-direction: column;
    }
    .second_inner_container{
        flex-direction: column;
    }
}