.write {
    padding-top: 50px;
    background: var(--linear_gradient_color);
    height: 80vh;
  }
  
  .writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .writeForm {
    position: relative;
    height: 100%;
  }

  .wrapperClassName {
    height:75%;
    width:80%;
  } 
  .notranslate {
    background: white;
    padding: 8px;
    /* color: var(--secondary_color); */
  } 
  .writeFormGroup{
    /* margin-left: 150px; */
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
 #field1{
    height: 10%;
    margin-left:7px ;
  }
  #field2{
    height: 88%;
  }
  .writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .writeInput {
    font-size: 18px;
    /* background:var(--primary_color); */
    background: transparent;
    border:0;
    height: 52px;
    width: 75% !important;
    color:var(--secondary_color);
  }
  .writeInput::first-letter,.writeText::first-letter{
    text-transform: capitalize;
  }
  .writeInput::placeholder {
    color: var(--font-color);
    font-weight: 400;
  }
  
  .writeInput:focus {
    outline-style: none;
  }
  
  .writeText {
    /* text-transform: capitalize; */
    color: var(--secondary_color);
    /* height: 83vh; */
    height: 100%;
    width: 90% !important;
    /* height: 100vh; */
    font-family: inherit;
    font-size: 20px;
    background: var(--login_form_color);
    border: none;
    padding: 20px;
    width: 70vw;
    resize: none;
    outline: none;
}

  .writeSubmit {
    /* position: absolute; */
    /* top: 20px; */
    /* right: 50px; */
    color: var(--primary_color);
    background-color: var(--font-color);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .tag_field{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    background: var(--login_form_color);
    align-items: center;
    color: var(--secondary_color);
    padding: 18px;
    width: 100%;
  }
  .tag_input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    background: var(--font-color);
    color: var(--login_form_color);
    font-weight: bold;
    margin: 7px;
    padding: 7px;
    border-radius: 8px;
    min-width: 71px;
  }
  .tag_input span{
    margin-left: 7px;
    cursor: pointer;
  }
  .tag_input:hover{
    opacity: 0.9;
  }
  .tag_field input{
    background: var(--login_form_color);
    border: 0;
    width: 100%;
    margin: 14px;
    outline: none;
    color: var(--secondary_color);
  }
  .writeSubmit:hover{
    opacity: 0.8;
  }