.first_second{
    background: var(--linear_gradient_color);
}
.first_inner_container{
    height: 20vh;
    display: flex;
    align-items: center;
   
}
.first_inner_container p{
    color: var(--secondary_color);
    font-weight: bold;
    font-size:36px;
    
}
.first_inner_container .title{
    padding: 18px;
    width: 100%;
}
.second_inner_container{
    display: flex;
    padding: 18px;
    width: 100%;

}
.second_inner_container label{
    color: var(--font-color);
    /* font-size: 3vh; */
    margin-right: 3px;
}
.second_inner_container p{
    font-family: 'Arvo', serif;
    color: var(--secondary_color);
    font-size: 15px;
    margin-right: 15px;
}
.title,.edit_update{
    
    display: flex;
    justify-content: space-between;
}
.title span{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--font-color);
}
.third_inner_container{
    height: 50vh;
    /* background: transparent;
    border: 2px solid transparent;
    color: var(--secondary_color); */
    background:white;
    padding: 14px;
    width: 100%;
    margin-top: 20px;
    /* font-size: 20px;
    overflow-y: auto;
    outline: none;
    resize: none; */
    /* text-transform: capitalize; */
}
.third_inner_container html{
    color: var(--secondary_color);
}
.third_inner_container::first-letter{
    text-transform:capitalize;
}
.edit_update{
    position: absolute;
    right: 113px;
    /* font-size:70px; */
}
.edit_update a svg{
    height: 32px;
    fill: #76b8ef;
    margin-right: 14px;
    cursor: pointer;
    
}
.edit_update a,.delete{
    margin-right: 20px;
    font-size: 29px;
    cursor: pointer;
}
.delete svg {
    /* height: 29px; */
    height:32px;
    /* width: 50px; */
    fill: #de5050;
    
 
    cursor: pointer;
}
.edit_update a svg:hover{
    opacity: 0.8;
}
.like_dislike{
    position: absolute;
    right: 14px;
    display: flex;

}
.like,.dislike{
    margin-right: 14px;
    font-size: 29px;
    cursor: pointer;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 750px) {
    .first_inner_container{
        flex-direction: column;
    }
    .second_inner_container{
        flex-direction: column;
    }
}