/* LightMode */
:root{
    --nav_color:rgb(255, 255, 255);
    --linear_gradient_color:linear-gradient(180deg, rgb(255, 255, 255), transparent);
    --primary_color:#ffffff;
    --secondary_color:#3b3636;
    --register_login:#05505e;
    --login_form_color:#d4d3d3;
    --secondary_color:black;
    --input_color:#c3b4b4;
    --register-botton:rgb(146 84 22);
    --no-account:#0b6340;
    --shadow-color:grey;
    --details-color:#8f424c;
    --inner-container:#828301;
    --second-inner:#2c8b6f;;
    --label-color:#0a7d0a;
    --font-color:#080c45;
    --correct-answer:rgb(10 132 10);
}