.container2{
    /* background: black; */
    /* position: absolute; */
    width: 100%;
    height: 10%;
    /* position: sticky;
    top:0px; */
    background: var(--nav_color);
    padding: 10px;
}
.container2 header{
    width: 100%;
    /* height: 10vh; */
}
.logo{
    height: 59px;
}
/* a svg{
    width: 38px;
    height: 54px;
   
} */
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.userpic img{
    margin:0;
    height:100%;
    width:100%;
}

.links{
    display: flex;
}
.nav_item{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    margin-top: 14px;
    
}
.navlink{
    font-size: 20px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    color: var(--font-color);
    border-radius: 18px;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.navlink:hover{
    opacity: 0.7;
    background: var(--font-color);
    border:2px solid var(--font-color);
    color:var(--primary_color) !important; 
    
}

.line{
    height: 5px;
    width: 37px;
    background: var(--secondary_color);
    margin-bottom: 2px;

}

/* Toggle */
.toggle{
    right: 2%;
    bottom: 3%;
    position: fixed;
    cursor: pointer;
    height: 32px;
    z-index:3000;
}
.toggle svg{
    /* height:100%; */
    font-size: 31px;
    filter: drop-shadow(3px 1px 4px grey);
}
.toggle svg:hover{
    opacity: 0.9;
}
button:focus{
    border:0;
    box-shadow: none !important;
}
.small_device{
    display: none;
}
.active{
    color:orangered;
    border-radius: 18px;
    transition: all 1s ease-in-out;
}
.active:hover{
    opacity: 0.7;
    background: orangered;
    border: 2px orangered;
}
.userpic{
    width: 50px;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
    font-size: 26px;
    border-radius: 50%;
    opacity: 0.9;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
}
.userpic:hover{
    color:white;
    opacity: 1;
}
.logout{
    position: relative;
    text-decoration: none;
    width: 81px;
    background: var(--font-color);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 400;
    color: var(--primary_color);
    opacity:0.9;
    transition: all 1s ease-out;
}
.logout:hover{
   
    opacity: 1;
    color: var(--primary_color);
}
@media screen and (max-width:720px){
    .active{
        display: block;
    }
    .non_active{
        display: none;
    }
    .non_activeLinks{
        /* animation: closeNav 1s 1; */
        left:-50%;
    }
    /* @keyframes closeNav {
        0%{
            right:0%;
        }
        100%{
            right:-50%;
        }
    } */
    .small_device .activeLinks{
        animation: showNav 1s 1;
      
        left:0px;
    }
    @keyframes showNav {
        0%{
            left:-50%;
        }
        100%{
            left:0%;
        }
    }
    .small_device .non_activeLinks{
        
        transition: all 1s ease-in-out;
    }
    .outer_container{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        outline: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index:50;
    }
    
    .nav{
        display: none;
    }
    .small_device{
        display: block;
        transition: all 1s ease-in-out;
    }
    .small_device>svg{
        cursor: pointer;
        color:var(--secondary_color);
      
    }
    .nav_links{
        position: fixed;
    /* height: 100%; */
    width: 50%;
    top: 0px;
    height: 100vh;
    /* width: 63vw; */
    transition: all 1s ease-in-out;
    background: #03071d;
    z-index: 100;
   
    }
    .links{
        height:100%;
        flex-direction: column;
        padding:0px;
        margin-top: 56px;
    }
    .nav_links{
        color:white;
        padding: 0px;
    }
    .nav_links>svg{
        width:34px;
        height:34px;
        position: absolute;
        left:6px;
        top:6px;
        cursor: pointer;
        margin-top: 15px;
 ;   }
    .nav_item{
        width: 100%;
        margin: 0px;
        height: 58px;
        border:0;
    }
    .navlink{
        color:white;
        width: 100%;
        justify-content: space-evenly;
        margin: 0px;
        border-radius: 0px;
        height: 100%;
        border: 0;
    }
    .navlink svg{
        /* color: white; */
    width: 34px;
    height: 23px;
    }
    .navlink:hover{
        background: rgba(0, 0, 0, 0.3);
        color: white !important;
        border: 0;
    }
    .activeLink{
        color:orangered  !important;
    }
    .activeLink:hover{
        background: rgba(0, 0, 0, 0.3);
        color: orangered !important;
        border: 0;
    }
   

}