#circle1{
    animation: color_circle1 10s infinite ;
        /* animation-delay: ; */
}
@keyframes color_circle1 {
   0%{
       fill:white;
   }
   2%,90%{
       fill:#504b4b;
   }
   92%,100%{
       fill:white
   }
}
#circle2{
    animation: color_circle2 10s infinite ;
        /* animation-delay: 2s; */
}
@keyframes color_circle2 {
    0%,10%{
        fill:white;
    }
    12%,80%{
        fill:#504b4b;
    }
    82%,100%{
        fill:white
    }
}
#circle3{
    animation: color_circle3 10s infinite ;
        /* animation-delay: 4s; */
}
@keyframes color_circle3 {
    0%,30%{
        fill:white;
    }
    32%,70%{
        fill:#504b4b;
    }
    72%,100%{
        fill:white
    }
}
#circle4{
    animation: color_circle4 10s infinite ;
        /* animation-delay: 6s; */
}
@keyframes color_circle4 {
    0%,40%{
        fill:white;
    }
    42%,60%{
        fill:green;
    }
    62%,100%{
        fill:white
    }
}
g #circle5{
    animation: color_circle5 10s infinite ;
        /* animation-delay: 6s; */
}
@keyframes color_circle5 {
    0%,80%{
        fill:white;
    }
    82%,90%{
        fill:green;
    }
    92%,100%{
        fill:white
    }
}

@media only screen and (max-width: 700px) {
    .register_png{
        display: none;
    }
}