.container_login{
    color: #1ce1bd;
    display: flex;
    width: 100%;
    font-size: 4rem;
    justify-content: center;
    align-items: flex-end;
    /* min-height: 88vh; */
    height: 85%;
    /* height: 84vh; */
    background: var(--primary_color);
}
.form_outer{
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form_inner{
    width: 60%;
    margin-bottom: 25px;
    color: var(--secondary_color);
    /* height: 94%; */
    /* font-weight: bold; */
    padding: 14px;
    display: flex;
    flex-direction: column;
    background: var(--login_form_color);
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 5px 6px 14px var(--shadow-color);
}
.form_inner form{
    height: 68%;
}
.form_name{
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }
  .errorMessage{
    height: 12px;
    font-size: 12px;
    color: red;
    text-align: left;
    font-weight: bold;
  }
  .form_name input{
      border-bottom: 2px solid black;
  }

.formpng{
    display: flex;
}
.login_png{
    height: 100%;
    width: 100%;
}
.form_inner p{
    font-size: 26px;
}
.fa_user,.fa_lock{
    font-size: 40%;
}
.form_row{
    display: flex;
    /* background: #2d2929; */
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    height: 11%;
}
.email{
    widows: 60%;
}
.form_inner_inner{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.formpng .form_inner_inner{
    margin-top: 55px;
}
.stu_prof{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    background: #2d2929;
}
.stu_prof option{
    height: 100%;
    font-size: 14px;
    width: 100%;
}
.col input{
    /* background: #2d2929; */
    border:0;
    border-bottom: 2px solid;
    font-size: 14px;
    background: transparent !important;
    outline: none;
    /* border: 0; */
}
.col input[type=text]{
    width: 100%;
}
.col{
    width: 100%;
    display: flex;
    border-bottom: var();
    /* background: #1f1f1e; */
    margin-right: 14px;
    /* border-bottom: 2px solid var(--secondary_color); */
}
.col input{
    color: var(--secondary_color);
}
/* button{
    background: #da1919 !important;
    outline: none;
    /* border: 0; */
    /* border-radius: 19px !important;
    color: #f1f1f1 !important;
    font-size: 17px !important;
    font-weight: 3000 !important;
    border: 1px solid black !important; */
/* }
button:hover{
    opacity: 0.8;
}  */
.form_check{
    margin-bottom: 7px;
    color: var(--secondary_color);
    display: flex;
    align-items: center;

}
.btner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.col input:focus{
    /* background: #2d2929;
    color: white; */
    opacity: 0.8;
    outline: none;
    /* border: 0; */
}
.form_check_label{
    font-size: 23px;
}
/* ::placeholder{
    /* color:lightblue !important; */
    /* opacity:1 !important; */
/* } */ 
.col > i{
    font-size: 25px;
}
.form_row>i{
    font-size: 25px;
    margin-right: 14px;
    color: var(--secondary_color) !important;
}
.form_control{
    height: 100%;
    font-size: 30%;
    width: 100%;
}
.form_check_input{
    height: 1vw;
    width: 2vw;
}
.reg{
    font-weight: bold;
    text-align: center;
    font-size: 3vw;
}
.has_account{
    font-size: 18px;
    margin-top: 7px;
    color: var(--no-account);
    margin-left:14px;
}
.has_account  a{
    color: var(--register-botton);
}
.login{
    width: 7vw;
    height: 3vw;
    font-size: 1vw;
}
.login:hover{
    background-position: left bottom;
}
@media only screen and (max-width: 700px) {
    .form_inner{
        width: 87%;
    }
    .formpng {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formpng .form_inner_inner{
        margin-top: 0px;
        width: 100%;
    }
    /* .form_inner_inner svg:nth-child(2){
        display: none;
    } */
    .login {
        height: 37px;
        font-size: 14px;
        width: 98px;
        margin-top: 14px;
        /* width: 100%; */
    }
    .has_account{
        width: 100%;
    }
  }