.loader{
    display: flex;
    background: var(--linear_gradient_color);
    height: 90vh;
    width: 100%;
    font-size: 38px;
    color: var(--font-color);
    justify-content: center;
    align-items: center;
}
.loader svg{
    width: 36px;
    height: 36px;
  
}
